<%- include("partials/header"); -%>
<!-- Start: Main Wrapper -->
<div class="d-flex align-items-center main-wrapper flex-fill">
    <div class="container d-flex">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-7 text-center text-md-left d-flex justify-content-center align-items-center">
                <!-- Start: Info Wrapper -->
                <div>
                    <h1 class="display-3">Meatify</h1>
                    <p class="lead">Personalize your meat eating experience for a balanced diet<br></p>
                    <p>Using State-of-the-Art Artificial Intelligence, Quantum &amp; Cloud Computing, and Blockchain, Meatify is disrupting the meat eating industry<br></p><a class="btn btn-primary btn-lg" role="button" href="sample"><strong>Try Now</strong></a>
                </div><!-- End: Info Wrapper -->
            </div>
            <div class="col-12 col-md-6 col-lg-5 d-none d-md-flex justify-content-center align-items-center">
                <!-- Start: Image Wrapper -->
                <div><img class="img-fluid" src="/img/undraw_barbecue_3x93%201.svg"></div><!-- End: Image Wrapper -->
            </div>
        </div>
    </div>
</div><!-- End: Main Wrapper -->
<%- include("partials/footer"); -%>